<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>134858420492-km0mnkraagu51cfk18ksjv4fogtu3qns.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.134858420492-km0mnkraagu51cfk18ksjv4fogtu3qns</string>
	<key>API_KEY</key>
	<string>AIzaSyCkhtuVW6ZTj7MH8_Wz4vN_Pa67d1XgepQ</string>
	<key>GCM_SENDER_ID</key>
	<string>134858420492</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kadriye.firebaseOrnek</string>
	<key>PROJECT_ID</key>
	<string>fir-ornek-914fe</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-ornek-914fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:134858420492:ios:50dffdb4dce43cbb075929</string>
	<key>DATABASE_URL</key>
	<string>https://fir-ornek-914fe.firebaseio.com</string>
</dict>
</plist>