<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>144668088625-i47ee50u1imuldlkj74fqmj2tj2mstuc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.144668088625-i47ee50u1imuldlkj74fqmj2tj2mstuc</string>
	<key>API_KEY</key>
	<string>AIzaSyBxd6F9UGwLodvhuQQCI2chvZEsQrP24-8</string>
	<key>GCM_SENDER_ID</key>
	<string>144668088625</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kadriye.firebaseOrnek</string>
	<key>PROJECT_ID</key>
	<string>fir-ornek-1e79f</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-ornek-1e79f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:144668088625:ios:b9a92326867cac47763810</string>
</dict>
</plist>